html {
    overflow: auto;
    background-color: transparent;
}

body {
    font-family: 'Arial', 'BentonSans', 'Helvetica', 'sans-serif';
    color: #868686;
    line-height: 100%;
    background-color: white;
}

p{
    font-size: 14px;
    padding: 6px 6px 6px 10px;
    line-height: 2em;

}

article {
    margin-bottom: 10px;
}

a, a.visited {
    color: #3498DB;
    text-decoration: none;
    font-size: 14px;
}

.params a, .demo a, a.visited {
    margin-left: 5px;
    margin-right: 5px;
/*    text-decoration: none;*/
}

#main {
    float: left;
    padding-top: 0.5em;
    padding-left: 10px;
    width: 90%;
}

.container-overall {
    margin-left: 20px;
}

section {
    display: block;
    background-color: transprent;
}




.code-caption,.params {
    font-size: 12px;
}

.params {
    border-spacing: 0;
    border: 0;
    border-collapse: collapse;
    word-wrap:break-word;
}

.params .paramsName, .example .paramsName{
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    margin: 0px;
    display: inline;
    vertical-align: top;
    padding-right: 3px;
}

.params .paramsValue, .example .paramsValue{
    font-size: 12px;
    font-style: normal;
    text-decoration: none;
    margin-right: 10px;
}

.params .values,.example .demo {
    padding-left: 15px;
}


.subsection-title{
    background-color: rgb(220, 230, 242);
}

.code-caption span{
    margin: 0px;
    font-family: Courier New;
}


h1 {
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
    color: #363636;
}

h2,h3,h4{
    color: #333333;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    margin: 0px;
}

h2 {
    font-size: 16px;
    padding: 6px 6px 6px 0px;
}

h3 {
    font-size: 18px;
    font-weight: bold;
    padding: 6px 6px 6px 10px;
}

h4 {
    font-size: 12px;
    font-weight: bold;
    padding: 0px 4px 0px 0px;
}

header {
    margin: 10px 0px 0px 0px;
}

.summaryTable {
    font-size: 12px;
    table-layout:fixed;
}


.summaryTable {
    width: 100%;
    border: 0px;
}


.innerDiv{
    border: 1px solid #ccc;
    width: 80%;
    padding: 7px 10px 7px;
}

.summaryTable td {
    border-bottom: 0px solid #7F8FB1;
    border-right: 0px solid #7F8FB1;
    vertical-align: top;
    font-size: 12px;
    font-style: normal;
    text-decoration: none;
}

.summaryTable td.attributes {
    text-align: left;
    font-weight: bold;
    width: 70px;
    padding-top:7px;
}

.summaryTable td.nameDescription {
    word-wrap :break-word !important;
    text-align: left;
    width:100%;
    font-weight: normal;
    overflow:auto;
}

.innerDiv span.separate{
}

div.lv{
    border-left: 1px #ccc solid;
    margin-left :10px;
    padding: 3px 0px 3px 35px;
}

div.method {
    width: 100%;
}

dt,dl {
    margin: 0px;
}

dd{
    margin: 6px 10px 12px 0px;
    background-color: #F2F2F2;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

dd.propDd {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    background-color: #F2F2F2;
    border-radius: 10px;
}

div.example {
    margin-top: 6px;
}

dl.method-content {
    padding-top: 15px;
    padding-bottom: 6px;
    /*padding-left: 10px;*/
}

.method-content dt{
    margin-top : 5px;
}

.method-content dl {
    margin-top : 0.2em !important;
    margin-bottom : 2.0em !important;
}


.method-content-selected{
    padding-left: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-left: 6px solid #007dc0;
}
