@charset "UTF-8";



/* ------------------------------------------
  NAVIGATION STYLES
  (+ responsive-nav.css file is loaded in the <head>)
--------------------------------------------- */

.fixed {
  position: fixed;
  width: 80%;
  top: 0;
  left: 0;
}

.nav-collapse,
.nav-collapse * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.nav-collapse{
  list-style: none;
  width: 100%;
  float: left;
  /*margin-bottom: 10px;*/
}

.nav-collapse ul {
  list-style: none;
  width: 100%;
  float: left;
  display: inline-block;

  padding-left: 0px;
  margin-bottom: 10px;
  border-bottom: 1px solid #D0D0D0;
}

.nav-collapse li{
  overflow: hidden;
  float: left;
  width: 94px;
  color: #868686;
  background-color: #ECECEC;
  margin-left: 5px;
  height: 27px;
  border: 1px solid #DDDDDD;
  display: inline-block;
}

.nav-collapse li.li_id{
  margin-left: 1px;
}


.nav-collapse a {
  line-height: 0.2em;
  color: #868686;
  text-decoration: none;
  background: #ECECEC;
  float: left;
  text-align: center;
  height: 27px;
  width: 100%;
  font-size: 13px;
  padding: 1em;
  display: block;
  text-transform : capitalize;

}

.nav-collapse a:hover
{
  cursor:pointer;
}

.nav-collapse img {
  float: right;
  background-color: white;
  padding-right: -5px;
}



.nav-collapse ul ul a {
  background: #e2e3e4;
  padding-left: 2em;
}

.nav-collapse li.spanli{
  float: right;
  background-color: white;
  border: 0px solid white;
  margin-right: 30px;
}

.nav-collapse li.spanli a
{
  background-color: white;

}

.nav-collapse li.spanli img:hover
{
  background-color: #eaeaea;
  border: 0px solid black;
}



@media screen and (max-width: 42em) {

  .nav-collapse ul li a {
    margin-left: 0px;
  }

  .nav-collapse ul li{
    margin-left: 0px;
    display:inline-block;
    border: 1px solid white;
    box-sizing:border-box;
    width: 33.3333%;
  }

  .nav-collapse ul li.li_id{
    margin-left: 0px;
    width: 50%;
  }

  .nav-collapse ul li.li_properties{
    margin-left: 0px;
    width: 50%;
  }

  .nav-collapse li.spanli{
    display: none;
  }

  div#anchor-container{
    /*display: none;*/
  }




}

a.link-clicked{
   background-color: #3498DB;
   color: white;
}

a.link-not-clicked{
   background-color: #ececec;
   color: #868686;
}

div.fixedContainer-border-normal{
  border-bottom: 1px solid #D0D0D0;
}


/* ------------------------------------------
  NAV TOGGLE STYLES
--------------------------------------------- */

@font-face {
  font-family: "responsivenav";
  src:url("../icons/responsivenav.eot");
  src:url("../icons/responsivenav.eot?#iefix") format("embedded-opentype"),
    url("../icons/responsivenav.ttf") format("truetype"),
    url("../icons/responsivenav.woff") format("woff"),
    url("../icons/responsivenav.svg#responsivenav") format("svg");
  font-weight: normal;
  font-style: normal;
}

.nav-toggle {
  position: fixed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-decoration: none;
  text-indent: -999px;
  position: relative;
  overflow: hidden;
  width: 50px;
  height: 35px;
  float: right;
}

.nav-toggle:before {
  color: #f4421a; /* Edit this to change the icon color */
  font-family: "responsivenav", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  font-size: 28px;
  text-transform: none;
  position: absolute;
  content: "≡";
  text-indent: 0;
  text-align: center;
  line-height: 55px;
  speak: none;
  width: 100%;
  top: 0;
  left: 0;
}

.nav-toggle.active::before {
  font-size: 20px;
  content:"x";
}



div.params span{
  line-height: 20px;
}

.subsection-title{
  background-color: white;
}

.descriptiondiv{
  padding-bottom: 10px;
}


hr{
  height: 1px;
  border: solid;
  color: rgb(185, 205, 229);
}

div#properties-container{
  margin-top: -15px;
  margin: 10px;
}

div#anchor-container{
  margin-left: 15px;
  margin-bottom: 5px;
  line-height: 100%;
  padding-left: 20px;
}

h2.section-title{
  margin-bottom: -20px;
  font-size: 13px;
  text-align: left;
}

.overviewContent, .newContent p{
  margin-left: 15px;
  font-size: 13px;
  line-height: 200%;
}

.overviewContent{
  margin-top: 40px;
}

.newContent h4{
  margin-left: 15px;
  font-size: 14px;
}

article.newContent{
  margin-top:150px;
}

div#properties-container dd a{
  color: #3498DB;
}

li.spanli a{
  height: 27px;
  width: 24px;
  float: right;
}

h3.name{
  font-size: 14px;
}

div.fixedContainer{
  position: fixed;
  top: 0px;
  left: 40px;
  width: 92%;
  padding-top: 20px;
  padding-bottom: 5px;
  background-color: white;

  /* Fix invibible bug in Mac Safari */
  overflow: hidden;
}

div.returnICon{
  display: block;
  position: fixed;
  bottom: 30px;
  right: 30px;
  cursor:pointer;
}

head{
  position: fixed;
}

img.separateLine {
  margin-left: 12px;
  margin-top: 10px;
}

div.returnICon{
  opacity:0.8;
}

h2.overview-title{
  font-size: 14px;
  margin-left: 0px;
  display: inline;
  font-weight: bold;
}

h2#former{
  color: #868686;
  margin-left: 25px;
  font-size: 12px;
}

div.imgContainer{
  border: 1px solid #BDBDBD;
  margin: 0 0 2em 8px;
  padding: 1em;
}

img{
  width: 100%;
  width: 32px;
  height: 32px;
}

div#anchor-container span:last-child{
    display: none;
}
