
.htmlView{
    padding-bottom: 5px;
    margin-right: 10px;
    font-family: Arial,Helvetica,sans-serif ! important;
    cursor: pointer;
}
.active{
    border-bottom:4px solid #3498DB;
    color: #3498DB;
    font-family: Arial,Helvetica,sans-serif ! important;
    cursor: pointer;
}
#code-content{
	border:1px solid #dddddd; 
	margin:8px 0 30px 0;
	width: 100%; 
}
.CodeMirror pre {
	border-radius: 0;
	border-width: 0;
	background: transparent;
	font-family: inherit;
	font-size:12px ! important;
	font-family: Arial,Helvetica,sans-serif ! important;
	line-height: 22px ! important;
	margin: 0;
	white-space: pre;
	word-wrap: normal;
	color: inherit;
	z-index: 2;
	position: relative;
	overflow: visible;
}
.CodeMirror-linenumber {
	padding: 0 3px 0 5px;
	min-width: 20px;
	text-align: right;
	line-height: 22px;
	font-family: Arial,Helvetica,sans-serif ! important;
	color: #999;
	font-size: 11px;
}
.CodeMirror {
  font-family: monospace;
  height: 350px ! important;
}
.codeContent{
	border:1px solid #dddddd ! important; 
	margin:8px 2em 2em 2em ! important;
}
@media screen and (max-device-width: 767px) {
     .CodeMirror {
      font-family: monospace;
      height: auto ! important;
     }
}
