  @font-face {
  font-family: 'SAP-icons';
  src: url('../img/SAP-icons.ttf'),
  url('SAP-icons.eot'); /* IE9+ */
  font-weight: normal;
  font-style: normal;
}

#btnHide {
  margin: 0;
  border: 0;
  padding: 0;
  background-color: white;
}

#btnHide:focus {
  /* Used to cancel UI5 css. */
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

#btnHide:hover {
  border: 1px solid #dddddd;
  border-radius: 20%;

  -webkit-box-shadow: 0px 1px 1px -1px rgba(45, 45, 45, 0.3);
  -moz-box-shadow: 0px 1px 1px -1px rgba(45, 45, 45, 0.3);
  box-shadow: 0px 1px 1px -1px rgba(45, 45, 45, 0.3);
}

#btnHide:active {
  border: 0;
  border-radius: 20%;
  background-color: rgba(197, 197, 197, 0.2);

  -webkit-box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, 0.3);
}

#btnHide::after {
  font-family: 'SAP-icons';
  content: "\e1b2";

  color: black;
  font-size: 14px;
}

#btnExpand:hover, #btnCollapse:hover {
  background-color: #007DC0;
}

#filterTree {
  display: block;
  height: 100%;
}

#js-filterTree-verticalLayout {
  display: block;
}

div#scrollPanelContainer-scroll {
  display: block;
}

/* Filter Tool Bar */
div#filterLayout {
  display: table;
  width: 100%;
  height: 100%;
}

div#filterLayout > div:first-child {
  display: table-cell;
  box-sizing: border-box;
  vertical-align: middle;
  width: 100%;
  position: static;
}

div#filterLayout input#filterField {
  width: 100%;
  padding-right: 18px;
  padding: 2px 18px 2px 5px;
}

div#filterTree-toolBar {
  display: table;
  box-sizing: border-box;
  width: 100%;
  min-width: 200px;
  height: 46px;
  padding: 10px 15px;
  border-bottom: 1px solid #dddddd;
}

div#filterTree-toolBar > div {
  display: table-cell;
  vertical-align: middle;
}

div#filterTree-toolBar > div:first-child {
  width: 22px;
  padding-right: 5px;
}

div#filterTree-toolBar > div:nth-child(3), div#filterTree-toolBar > div:last-child {
  width: 32px;
}

/* Panel Container */
.vf-ft-vl-panelContainer.sapUiPanel:focus {
  outline: none;
}

/* Panel Container Header */
.vf-ft-vl-panelContainer > header {
  /* Box */
  box-sizing: border-box;
  width: 100%;
  height: 3em;
  padding: .5em 25px;
  border-bottom: 1px solid #dddddd;

  /* Text */
  font-size: 16px; /* header component reference size */

  /* Flex-box-container */
  display: flex;
  align-items: center;

  /* Cursor */
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
}

html[data-sap-ui-browser*='ie'] .vf-ft-vl-panelContainer > header {
  display: -ms-flexbox;
  -ms-flex-align: center;
  -ms-flex-direction: row;
}

.vf-ft-vl-panelContainer > header > h5 {
  /* Box */
  margin: 0;
  padding: 0;

  /* Text */
  font-size: 1.2em;
  font-weight: 400;
  line-height: 1.2;

  /* Flex-box-item */
  flex-grow: 1;
  -ms-flex: 1 0 auto;
}

.vf-ft-vl-panelContainer > header > h5::before {
  content: "▪ ";
}

.blueBackground {
  background-color : #3498DB
}
.blueBackground > header > h5 {
  color : #FFF
}
.transparentBackground {
  background-color : transparent
}

/*.blueBackground > header > h5::before{
  background-image: url("../img/panelNode_white.png");
}*/

.vf-ft-vl-panelContainer > header > a.sapUiPanelHdrRightItem {
  display: block;
  height: 12px;
  position: static;

  /* Flex-box-item */
  flex-grow: 0;
  -ms-flex: 0 0 auto;
}

  .vf-ft-vl-panelContainer > header a.sapUiPanelHdrRightItem.sapUiPanelCollIco:focus {
    outline: none;
  }

  .vf-ft-vl-panelContainer > header a.sapUiPanelHdrRightItem.sapUiPanelCollIco:hover {
    background-color: transparent;
  }

.vf-ft-vl-panelContainer > div.sapUiPanelCont {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  background-color: #F5F5F5;
  border-bottom: 1px solid #dddddd;
  padding: 4px 2px;
}

@font-face {
  font-family: 'SAP-icons';
  src: url('../img/SAP-icons.ttf'),
    url('SAP-icons.eot'); /* IE9+ */
  font-weight: normal;
  font-style: normal;
}
.vf-ft-vl-panelContainer .sapUiPanelCollIco:after {
  font-family: 'SAP-icons';
  position: relative;
  left: -4px;
  content: "\e1ef";
  color: #000;
}
.vf-ft-vl-panelContainer.sapUiPanelColl .sapUiPanelCollIco:after {
  font-family: 'SAP-icons';
  position: relative;
  left: 1px;
  content: "\e1ed";
  color: #000;
}
.blueBackground > header > .sapUiPanelCollIco:after{
  color : white;
}
.blueBackground.vf-ft-vl-panelContainer.sapUiPanelColl > header > .sapUiPanelCollIco:after{
  color : white;
}

.vf-ft-vl-panelContainer .hidden {
  display: none;
}

.vf-ft-vl-panelContainer .sapUiTreeList {
  padding-left: 2px;
}

.sapUiPanelColl .sapUiPanelCollIco, html[data-sap-ui-browser*='ie'] .sapUiPanelColl .sapUiPanelCollIco{
  background-image: url("");
}
.sapUiPanelCollIco, html[data-sap-ui-browser*='ie'] .sapUiPanelCollIco{
  background-image: url("");
}
.sapUiPanelCollIco:hover, html[data-sap-ui-browser*='ie'] .sapUiPanelCollIco:hover{
  background-image: url("");
}
.sapUiPanelColl .sapUiPanelCollIco:hover, html[data-sap-ui-browser*='ie'] .sapUiPanelColl .sapUiPanelCollIco:hover{
  background-image: url("");
}
.vf-ft-vl-panelContainer .sapUiTreeList .sapUiTreeNode {
  font-size: 16px;
  line-height: 33px;
  margin: 0;
  border: 0;
  background-image: none;
  list-style: disc inside;
  list-style-image: url(../img/TreeNode.gif);
  cursor: default;
}

.vf-ft-vl-panelContainer .sapUiTreeList .sapUiTreeNode.sapUiTreeNodeSelected {
  list-style-image: url(../img/TreeNode-white.gif);
}

.vf-ft-vl-panelContainer .sapUiTreeList .sapUiTreeNode .sapUiTreeNodeContent {
  width: 95%;

  top: 0;
  left: -3px;
}

.vf-ft-vl-panelContainer .sapUiTreeList .sapUiTreeNode.sapUiTreeNodeExpanded {
  list-style-image: url(../img/TreeNode_Exp.gif);
}

.vf-ft-vl-panelContainer .sapUiTreeList .sapUiTreeNode.sapUiTreeNodeExpanded.sapUiTreeNodeSelected {
  list-style-image: url(../img/TreeNode_Exp-white.gif);
}

.vf-ft-vl-panelContainer .sapUiTreeList .sapUiTreeNode.sapUiTreeNodeCollapsed {
  list-style-image: url(../img/TreeNode_Coll.gif);
}

.vf-ft-vl-panelContainer .sapUiTreeList .sapUiTreeNode.sapUiTreeNodeCollapsed.sapUiTreeNodeSelected {
  list-style-image: url(../img/TreeNode_Coll-white.gif);
}

.vf-ft-vl-panelContainer .sapUiTreeList .sapUiTreeChildrenNodes {
  padding-left: 0;
}

.sapUiPanelHdrEmph {
  border: none;
}

.sapUiPanelAreaDesignFill > .sapUiPanelCont {
  background-color: rgba(255, 255, 255, 0.8);
}

.sapUiPanelCollIco:hover {
  background-color: transparent;
}

html[data-sap-ui-browser*="ie"] .sapUiPanelCollIco:hover {
  background-color: #eaeaea;
}

.sapUiTreeNodeSelectedParent {
  background-color: #3498DB;
}

.sapUiTreeNodeSelectedParent:hover {
  background-color: #3498DB;
}

.sapUiTreeNodeSelected {
  background-color: #3498DB;
}

.sapUiTreeNodeSelected:hover {
  background-color: #3498DB;
}

.sapUiPanelWithPadding > .sapUiPanelCont {
  padding: 0px;
}

.sapUiTreeNode:focus {
  outline-style: none;
}
